footer {
    background-color: var(--black);
    padding: 1.5em 0;
}

.socials-section{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.socials-section img{
    width: 2.5rem;
    margin: 0 .75em;
    opacity: 60%;
}

.copyright{
    font-weight: 300;
    color: var(--white);
}